    body {
        margin: 0;
        font-family: 'Quicksand', sans-serif;
        font-weight: 300;
    }

    .header img {
        margin-top: 20px;
        height: 200px;
    }

    .header img:hover {
        -webkit-transform: rotateZ(-15deg);
        -ms-transform: rotateZ(-15deg);
        transform: rotateZ(-15deg);
    }

    h1 {
        font-size: 15px;
        padding-bottom: 20px;
        font-weight: 375;
        margin-top: 0;
    }


    .navbar {
        text-align: center;
        width: 100%;
        margin: 25px 0;
        -webkit-transition: all 170ms ease-out;
        -moz-transition: all 170ms ease-out;
        -o-transition: all 170ms ease-out;
        transition: all 170ms ease-out;
    }

    .navbar a:hover {
        color: #a6a6a6;
        cursor: pointer;
    }

    .page {
        margin: 0 2%;
        padding: 5px 10px;
        font-size: 18px;
    }

    .page a {
        text-decoration: none;
        color: black;/*#a6a6a6;*/
        font-weight: 600;
    }

    @media screen and (max-width: 900px)
    {
        .page a {
            font-size: 15px;
        }
    }

    @media screen and (max-width: 790px)
    {
        .page a {
            font-size: 12px;
        }
    }

    @media screen and (max-width: 680px)
    {
        .page a {
            font-size: 10px;
        }
    }

    @media screen and (max-width: 650px)
    {
        a.disabled {
          pointer-events: none;
          cursor: default;
        }

         .page a:hover,
         .page a {
             color: #fff;
             font-size: 0;
         }

        h1 {
            padding-bottom: 0;
        }

        .navbar { margin: 0; }
    }


    .foot {
        box-sizing: border-box;
        height: 200px;
        font-size: 18px;
        text-align: center;
    }

    .fa-google, .fa-facebook,
    .fa-instagram {
        background: white;
        color: black;
        text-decoration: none;
        font-size: 20px;
        padding: 0 5px;
        margin-bottom: 10px;
    }
