body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    border: 18px solid #f5cbde;
}

/* ----- HAMBURGER MENU FOR MOBILE VERSION ----- */
.menu-ham, .close-menu {
    display: none;
}

.menu {
    width: 100%;
    height: 100%;
    position: fixed;
    left: -100%;
    top: 0;
    background-color: #fff;
    box-shadow: 1px 0 5px #c0c0c0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.menu ul {
    padding-left: 0;
    margin-top: 60px;
}

.menu li {
    list-style: none;
    text-decoration-style: none;
    line-height: 170%;
    padding: 5px 0 5px 40px;
}

.menu li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.menu li a:hover {
    color: #a6a6a6;
    cursor: pointer;
}

/* ------- HEADER & NAV BAR ------- */

.header #logo {
    margin-top: 30px;
    height: 200px;
}

.header #logo:hover {
    -webkit-transform: rotateZ(-15deg);
    -ms-transform: rotateZ(-15deg);
    transform: rotateZ(-15deg);
}

h1 {
    font-size: 15px;
    padding-bottom: 20px;
    font-weight: 375;
    margin-top: 0;
}

.navbar {
    text-align: center;
    width: 100%;
    margin: 25px 0;
    -webkit-transition: all 170ms ease-out;
    -moz-transition: all 170ms ease-out;
    -o-transition: all 170ms ease-out;
    transition: all 170ms ease-out;
}

.navbar a:hover {
    color: #a6a6a6;
    cursor: pointer;
}

.page {
    margin: 0 2%;
    padding: 5px 10px;
    font-size: 18px;
}

.page a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* ---------- FOOTER ----------- */
.foot {
    box-sizing: border-box;
    height: 200px;
    font-size: 18px;
    text-align: center;
    margin: 0 18px 18px 18px;
}

#foot_logo {
    padding-top: 10px;
    margin: 0 18px;
    height: 75px;
}

.fa-yelp, .fa-facebook,
.fa-instagram {
    background: white;
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 0 5px;
    margin-bottom: 10px;

}

/* --------- ADJUSTMENTS --------- */

@media screen and (max-width: 975px)
{
    .page a { font-size: 15px; }
}

@media screen and (max-width: 875px)
{
    .page a { font-size: 12px; }
}

@media screen and (max-width: 760px)
{
    .page a { font-size: 10px; }
}

@media screen and (max-width: 680px)
{
    .close-menu {
        position: absolute;
        right: 25px;
        top:  5px;
        display: inline-block;
        float: right;
        padding-top: 30px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .close-menu img {
        height: 20px;
    }

    .menu li a {
        font-size: 14px;
    }

    .menu-ham {
        display: inline-block;
        height: 40px;
        margin: 20px 20px;
        cursor: pointer;
    }

    .header #logo {
        margin-top: 0;
        height: 200px;
    }
    
    a.disabled {
        pointer-events: none;
        cursor: default;
    }

    .page a:hover,
    .page a {
        color: #fff;
        font-size: 0;
    }

    h1 { padding-bottom: 0; }

    .navbar { margin: 0; }

    #copyright {
        font-size: 15px; 
    }
}

@media screen and (max-width: 475px) 
{
    .close-menu img {
        height: 15px;
    }

    .menu li a {
        font-size: 12px;
    }
    .foot { 
        font-size: 15px; 
        height: 175px;
    }

    #foot_logo {
        height: 50px;
    }
    #copyright {
        font-size: 12px; 
    }

}